node_modules/
.cloudflare/
.wrangler/
compendium/source/
.agents
skills-lock.json
Notes.txt
googleSecret.md
client_secret_759581088211-3a2t117l5cjjr7pkvimmdjfcs6jpgep4.apps.googleusercontent.com.json
facebookSecret.md