node_modules/
.cloudflare/
.wrangler/
compendium/source/
wiki/scripts/content-diff/output/
.agents
skills-lock.json
googleSecret.md
client_secret_759581088211-3a2t117l5cjjr7pkvimmdjfcs6jpgep4.apps.googleusercontent.com.json
